.pageHeader {
  background-color: var(--black);
}

.pageTitle {
  color: var(--white);
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.1;
  letter-spacing: 1.42857px;
  padding: 6.125rem;
}
