@use "@styles/mixins" as m;

.container {
  margin-top: 38px;
  padding-top: 100px;
  padding-bottom: 35px;
  border-radius: 0 0 8px 8px;
  position: absolute;
  z-index: 20;
  top: 100px;
  left: 0;
  right: 0;
  // bottom: 0;
  background-color: var(--white);
  
  @include m.md(){
    padding-top: 26px;
    padding-bottom: 76px;
  }
  
  @include m.xl() {
    display: none;
  }
}