@use "@styles/mixins" as m;

.productCard {
  background-color: var(--orange-600);
  color: var(--white);
  padding: 55px 24px;
  margin-bottom: 24px;

  @include m.md() {
    margin-bottom: 32px;
  }

  @include m.xl() {
    display: flex;
    overflow: hidden;
    padding: 0;
    margin-bottom: 48px;
  }
}

.col-1 {
  @include m.xl() {
    width: 60%;
  }
}

.col-2 {
  text-align: center;
  margin-top: 2rem;

  @include m.md() {
    margin: 64px 220px;
  }

  @include m.xl() {
    display: grid;
    place-content: center;
    text-align: left;
    margin: 133px 95px 124px 0;
  }
}

.imageContainer {
  width: 45%;
  margin: 0 auto;
  position: relative;

  @include m.md() {
    width: 197px;
  }

  @include m.xl() {
    width: 410px;
    transform: translateY(16%);
  }
}

.title {
  line-height: 40px;
  letter-spacing: 1.28571px;

  @include m.md() {
    font-size: 56px;
    line-height: 58px;
  }

  @include m.xl() {
    width: 5ch;
  }
}

.description {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
  margin-top: 24px;
  margin-bottom: 34px;

  @include m.xl() {
    width: 35ch;
  }
}
