.fieldset {
  border: none;
  font-size: 0.75rem;
  margin-bottom: 2rem;
  padding: 0;
}

.legend {
  color: var(--orange-600);
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 0;
}
